USE [master]
GO
/****** Object:  Database [CSC_Assignment]    Script Date: 22/1/2016 Friday 2:14:00 PM ******/
CREATE DATABASE [CSC_Assignment] ON  PRIMARY 
( NAME = N'CSC_Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\CSC_Assignment.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSC_Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\CSC_Assignment_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSC_Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSC_Assignment]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 22/1/2016 Friday 2:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UploadedBy] [int] NULL,
	[ImageData] [image] NULL,
	[CreatedAt] [datetime] NULL,
	[URI] [nchar](1000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 22/1/2016 Friday 2:14:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](10) NULL,
	[Password] [nchar](10) NULL,
	[DateOfBirth] [nvarchar](50) NULL,
	[Email] [nchar](30) NULL,
	[CreatedAt]  AS (getdate())
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Image] ADD  CONSTRAINT [DF__Image__CreatedAt__014935CB]  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
