USE [master]
GO
/****** Object:  Database [CSC_Assignment]    Script Date: 18/1/2016 Monday 9:08:19 PM ******/
CREATE DATABASE [CSC_Assignment] ON  PRIMARY 
( NAME = N'CSC_Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\CSC_Assignment.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSC_Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\CSC_Assignment_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSC_Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSC_Assignment]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 18/1/2016 Monday 9:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Image](
	[ID] [int] NULL,
	[UploadedBy] [nchar](10) NULL,
	[Image] [binary](50) NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 18/1/2016 Monday 9:08:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NULL,
	[Username] [nchar](10) NULL,
	[Password] [nchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Email] [nchar](30) NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY]

GO
USE [master]
GO
